<div class="titlebar-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-push-2 col-xs-push-2   col-lg-6  col-xs-6 titlebar-content">
                <h3>Pro Shopping</h3>
                <p>Neptune theams</p>
            </div>
            <div class="col-lg-push-2 col-xs-push-2  col-lg-3  col-xs-3  search-box">
                <input type="text" class="search" placeholder="Search here..."/><i class="fa fa-search"></i>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid nav-top">
    <div class="row navbar-content text-center">
        <ul class="col-lg-push-2 col-lg-10 nav navbar-nav">
            <li>Home</li>
            <li>Features</li>
            <li>Ecommerce</li>
            <li>Portfolio</li>
            <li>Pages</li>
            <li>Blog</li>
            <li>Contatc Us</li>
            <li class="active"><i class="fa fa-cart-arrow-down cart-arrow"></i>3 <span class="navbar-cart">items in cart </span>/ $200</li>
        </ul>
    </div>
</div>

<div class="container-fluid ">
    <div class="row breadcrumbs text-center">
        <div class="col-lg-push-1 col-lg-4 breadcrumbs-row">
            <h5>
                <span>Home / </span>
                <span>Mens / </span>
                <span class="font-black">Bag and Accesories</span>
            </h5>
        </div>
    </div>
</div>
<div class="container-fluid product-div">
    <div class="row img-div img-div">
        <div class=" col-lg-push-2 col-lg-4 col-md-push-2 col-md-4  img-fix text-center">
            <img ng-src="images/bag.png" class="img-bag">
        </div>
        <div class="col-lg-push-2 col-lg-4 col-md-push-2 col-md-4 col-xs-12   product-details">
            <h3>Range Camera Bag</h3>
            <p><i class="fa fa-star-o star-1"></i><i class="fa fa-star-o star-1"></i><i class="fa fa-star-o star-1"></i><i class="fa fa-star-o star-2"></i><i class="fa fa-star-o star-2"></i><span class="review">(20 user reviews)</span> </p>
            <h2>$90</h2>
            <div class="dropdown-row-1">
                <div class="color-dropdown">
                    <p><i class="fa fa-circle"></i>Yellow<i class="fa fa-caret-down fa-caret-sym1"></i></p>
                </div>
                <div class="bag-size">
                    <p>44(xl)<i class="fa fa-caret-down fa-caret-sym2"></i></p>
                </div>
                <div class="que-alert">
                    <p><i class="fa fa-question-circle fa-que"></i></p>
                </div>
            </div>
            <div class="description">
                <p>The range is a perfect fit for most entry level DSLR cameras high optical zoom concepts and camcoders. The series start with the TL15 and 25. Protective nad compact camera bags easy to carry and use</p>
            </div>
            <div class="dropdown-row-2">
                <div class="qty-dropdown">
                    <p>Qty.<i class="fa fa-caret-down fa-caret-sym3"></i></p>
                </div>
                <div class="add-btn">
                    <p><i class="fa fa-cart-arrow-down cart-arrow-btn"></i>Add to cart</p>
                </div>
                <div class="wishlist-btn">
                    <p><i class="fa fa-plus fa-plus-btn"></i>Add to wishlist</p>
                </div>
            </div>
        </div>
    </div>
</div>