<div class="titlebar-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-push-2 col-xs-push-2   col-lg-6  col-xs-6 titlebar-content">
                <h3>PRO SHOPPING</h3>
                <p>NEPTUNE THAMES</p>
            </div>
            <div class="col-lg-push-2 col-xs-push-2  col-lg-4  col-xs-4  search-box">
                <input type="text" class="search form-control" placeholder="Search..."/>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid nav-top">
    <div class="row navbar-content text-center">
        <ul class="col-lg-push-2 col-lg-10 nav navbar-nav">
                <li>HOME</li>
                <li>FEATURES</li>
                 <li>ECOMMERSE</li>
                <li>PORTFOLIO</li>
                <li>PAGES</li>
                <li>BLOG</li>
                <li>CONTACT US</li>
                <li class="active">3 <span class="navbar-cart">items in cart</span> /$200</li>
        </ul>
    </div>
</div>
